/* 
Typography Framework 
Version: 1.0
Author: Simon Web Design
URI: SimonWebDesign.com
*/
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a, a:visited {
	text-decoration: underline;
}
pre {
	border: 1px solid #ccc;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
p {
	margin: 0 0 10px;
}
small {
	font-size: 85%;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
cite {
	font-style: normal;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1, h2, h3 {
	line-height: 40px;
}
h1 {
	font-size: 38.5px;
}
h2 {
	font-size: 31.5px;
}
h3 {
	font-size: 24.5px;
}
h4 {
	font-size: 17.5px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 11.9px;
}
h1 small {
	font-size: 24.5px;
}
h2 small {
	font-size: 17.5px;
}
h3 small {
	font-size: 14px;
}
h4 small {
	font-size: 14px;
}
.header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
}
ul, ol {
	font-size: 14px;
	color: #222222;
	padding: 0;
	margin: 0 0 10px 25px;
	list-style-type: square;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}
li {
	line-height: 20px;
}
dl {
	margin-bottom: 20px;
}
dt, dd {
	line-height: 20px;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 10px;
}
hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}
abbr[title], abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #999999;
}
blockquote {
	font-size: 12.5px;
	border-left: 3px solid #ccc;
	page-break-inside: avoid;
	padding: 0px 15px 0px 15px;
	margin: 20px;
	line-height: 20px;
}
blockquote p {
	font-size: 12.5px;
}
address {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 20px;
}
code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: nowrap;
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
pre code {
	padding: 0;
	font-size: 13px;
	line-height: 20px;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ccc;
}
tr, td {
	border: 1px solid #ccc;
	padding: 5px;
}
th {
	padding: 5px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
}
form {
	margin: 0 0 20px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
legend small {
	font-size: 15px;
	color: #999999;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
	display: block;
	margin-bottom: 5px;
}
select, textarea, input[type="text"] {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
input, textarea {
	width: 206px;
}
textarea {
	height: auto;
}
textarea, input[type="text"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus, input[type="text"]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	line-height: normal;
}
select {
	height: 30px;
	line-height: 30px;
	width: 220px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
select:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.button {
	display: inline-block;
	padding: 7px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #777777;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.button:hover, .button:focus, .button:active, .button.active, .button.disabled, .button[disabled] {
	color: #333333;
	background-color: #e6e6e6;
}
.button:hover, .button:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.button:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
